
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLineLabel">Create or edit a Line</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.line.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.line.id" readonly />
        </div>

        <div class="form-group">
            <label for="field_lineDetail">Line Detail</label>
            <select class="form-control" id="field_lineDetail" name="lineDetail" ng-model="vm.line.lineDetail" ng-options="lineDetails as lineDetails.id for lineDetails in vm.linedetails | orderBy:'id' track by lineDetails.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_cellRange">Cell Range</label>
            <select class="form-control" id="field_cellRange" name="cellRange" ng-model="vm.line.cellRange" ng-options="cellRange as cellRange.id for cellRange in vm.cellranges | orderBy:'id' track by cellRange.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_section">Section</label>
            <select class="form-control" id="field_section" name="section" ng-model="vm.line.section" ng-options="section as section.id for section in vm.sections track by section.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
