
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPageLabel">Create or edit a Page</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.page.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.page.id" readonly />
        </div>

        <div class="form-group">
            <label for="field_pageDetail">Page Detail</label>
            <select class="form-control" id="field_pageDetail" name="pageDetail" ng-model="vm.page.pageDetail" ng-options="pageDetails as pageDetails.id for pageDetails in vm.pagedetails | orderBy:'id' track by pageDetails.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_model">Model</label>
            <select class="form-control" id="field_model" name="model" ng-model="vm.page.model" ng-options="model as model.id for model in vm.models track by model.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
